@charset "utf-8";
/*
 *  描述: 动画组件通用样式
 *  作者：Jack Chen
 *  时间：2020-04-18
 */

body {
    transform-origin: 0px 0px 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: radial-gradient(#00205a,#010E2F);
}


%container-angle {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    border-color: #478df7;
    border-style: solid;
}

.left-container-angle {
    border: 2px solid #224c72;
    box-shadow: 0 0 20px #143460 inset;
    &:before {
        @extend %container-angle;
        top: -3px;
        border-top-width: 4px;
        border-bottom-width: 0;
        left: -3px;
        border-left-width: 4px;
        border-right-width: 0;
    }
    &:after {
        @extend %container-angle;
        bottom: -3px;
        border-top-width: 0;
        border-bottom-width: 4px;
        right: -3px;
        border-left-width: 0;
        border-right-width: 4px;
    }
}

.right-container-angle {
    border: 2px solid #224c72;
    box-shadow: 0 0 20px #143460 inset;
    &:before {
        @extend %container-angle;
        bottom: -3px;
        border-top-width: 0px;
        border-bottom-width: 4px;
        left: -3px;
        border-left-width: 4px;
        border-right-width: 0;
    }
    &:after {
        @extend %container-angle;
        top: -3px;
        border-top-width: 4px;
        border-bottom-width: 0;
        right: -3px;
        border-left-width: 0;
        border-right-width: 4px;
    }
}
.panel {
    color: #fff;
}